include ../checkbox-button/checkbox-button.pug
include ../text-field/text-field.pug
include ../label/label.pug

mixin slider-card({ data }={})
  -
    const {
      currentValue=0,
      minVal=0,
      maxVal=100,
      step=1,
      precision=0,
      numOfScaleMark=2,
      isHorizontal=true,
      isRange=false,
      isCurrentValueVisible=true,
      isRangeLineEnabled=false,
      isScaleEnabled=false
    } = data
    fields = [
      { label: 'Current value', text: currentValue, name: 'currentValue', type: 'text' },
      { label: 'Minimum value', text: minVal, name: 'minVal', type: 'number' },
      { label: 'Maximum value', text: maxVal, name: 'maxVal', type: 'number' },
      { label: 'Step', text: step, name: 'step', type: 'number' },
      { label: 'Number of scale marks', text: numOfScaleMark, name: 'numOfScaleMark', type: 'number' }
    ]
    checkboxes = [
      { text: 'Horizontal', name: 'horizontal', isChecked: isHorizontal },
      { text: 'Range', name: 'range', isChecked: isRange },
      { text: 'Visible current value', name: 'visibleCurrentValue', isChecked: isCurrentValueVisible },
      { text: 'Range line', name: 'rangeLine', isChecked: isRangeLineEnabled },
      { text: 'Scale', name: 'scale', isChecked: isScaleEnabled }
    ]
    const vertical = !isHorizontal && 'slider-card__slider_vertical'

  article.slider-card.js-slider-card
    .slider-card__slider-wrapper
      .slider-card__slider.js-slider-card__slider(class = vertical)
    form.slider-card__form.js-slider-card__form
      each field in fields
        - const { label, text, name, type } = field
        .slider-card__form-item-wrapper
          +label({ text: label })
          +text-field({placeholder: label, text, name, type })
      each checkbox in checkboxes
        .slider-card__form-item-wrapper
          +checkbox-button(checkbox)
