include ../material-icons/material-icons.pug

mixin checkbox-button ({ text, name, isChecked=false, header}={})
  - var richContent = ''
  - var richButton = ''
  if(header)
    - richContent = 'checkbox-button__content_rich'
    - richButton = 'checkbox-button_rich'

  section.checkbox-button(class=richButton)
    label.checkbox-button__label
      input(type="checkbox", name=name, checked=isChecked).checkbox-button__input
      .checkbox-button__text
        .checkbox-button__header=header
        .checkbox-button__content(class=richContent)=text
